.menu-control {
  padding: 20px;
  .screen-card {
    margin-bottom: 20px;
    &:last-child {
      margin: 0;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
